.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media only screen and(max-width: $bp-smallest) {
    order: 1;
    flex: 0 0 100%;
    background-color: var(--light-grey-color-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--light-grey-color-2);
    border: none;
    padding: 1rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--light-grey-color-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--light-grey-color-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--light-grey-color-3);
  }

  &__button {
    border: none;
    background-color: var(--light-grey-color-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    font-size: 2rem;
    color: var(--dark-grey-color-1);
  }
}
